
/* Menu */

.Menu {

}

.Menu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}

/* Menu a */

.Menu a {
	display: block;
	font-size: 13px;
	font-stretch: normal;
	font-weight: 400;
	padding: 1rem 1rem 1rem 1.5rem;
	width: 100%;
}

.Menu a:hover {
	background-color: #eeeeee;
}

.Menu dt a {
	font-weight: 700;
}

.Menu dt a.is-active {
	color: #004d40;
}

.Menu dd a {
	padding-left: 2.25rem;
}

.Menu dd a.is-active {
	color: #009688;
	font-weight: 700;
}

/* Menu dl */

.Menu dl {
	display: block;
	width: 100%;
}

/* Menu dt */

.Menu dt {
	display: block;
	width: 100%;
}

/* Menu dd */

.Menu dd {
	display: block;
	-webkit-flex-flow: column;
	flex-flow: column;
	width: 100%;
}

.Menu-list {

}

.MenuItem {

}

.MenuItem-list {

}